/* Chester Theme */

/* Chester Comment */
.hljs-comment {
  color: #99A9B3;
}

/* Chester Red */
.hljs-variable,
.hljs-tag,
.hljs-tag .hljs-title,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #FA5E5B;
}

/* Chester Orange */
.hljs-attribute,
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #FFC83F;
}

/* Chester Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rule .hljs-attribute {
  color: #FFC83F;
}

/* Chester Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.hljs-name,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #16C98D;
}

/* Chester Green */
.css .hljs-hexcolor {
  color: #16C98D;
}

/* Chester Blue */
.hljs-function,
.hljs-title,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript {
  color: #288AD6;
}

/* Chester Lightblue */
.hljs-keyword,
.javascript .hljs-function {
  color: #8ABEE5;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: #1d1f21;
  color: #DBE6EC;
  padding: 0.5em;
  -webkit-text-size-adjust: none;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5;
}
